<div class="container">
    ${!!is_logged_in ? 
        `<h1 class="main-title">Choose Your Dining</h1>
        <p>When you're done selecting restuarants, click the button below to continue on to lodging.</p>
        <div class="button-container">
            <form action="/dining/move_to_lodging" method="POST">
                <input type="hidden" name="park_id" value="${park_id}">
                <button type="submit" class="remove-activity">Go to Lodging</button>
            </form>
            <a href="/itinerary" class="remove-activity">View Itinerary</a>
        </div>

        <div class="row align-items-start">
    
            ${diningData.map (restaurant => 
                `<div class="col-6">
                    <h2>${restaurant.restaurant_name}</h2>
                    <img src='${restaurant.restaurant_image}' width='500px'>
                    <p>${restaurant.price_range}</p>
                    <p>${restaurant.cuisine}</p>
                    <div class="button-container">
                        <a href="${restaurant.menu}" target="_blank" class="remove-activity">View Menu</a>
    
                        <form action="/dining/add" method="POST">
                            <input type="hidden" name="dining_id" value="${restaurant.id}">
                            <input type="hidden" name="park_id" value="${restaurant.park_id}">
                            <button type="submit" class="remove-activity">Add to Itinerary</button>
                        </form>
                    </div>
                </div> `
                
                ).join('')}
        </div>
        `
        :
        `<h3>Login to add restaurants to your Itinerary</h3>
        <a href="/users/login" class="primary-button">LOGIN</a>`
    
    }
    <p><a href='https://disneyworld.disney.go.com/dining/' target='_blank'>Click here</a> for a full list of dining options!</p>
</div>