<div class="container">
    ${!!is_logged_in ? 
        `<h1 class="main-title">Choose Your Dining</h1>
        <p>When you're done selecting restuarants, click the button below to continue on to lodging.</p>
        <div class="button-container">
            <form action="/dining/move_to_lodging" method="POST">
                <input type="hidden" name="park_id" value="${park_id}">
                <button type="submit" class="primary-button">Go to Lodging</button>
            </form>
            <a href="/itinerary" class="primary-button">View Itinerary</a>
        </div>

        <div class="row align-items-start">
    
            ${diningData.map (restaurant => 
                `<div class="col-6">
                    <h2>${restaurant.restaurant_name}</h2>
                    <img src='${restaurant.restaurant_image}' width='500px' class="img-fluid">
                    <p>${restaurant.price_range}</p>
                    <p>${restaurant.cuisine}</p>
                    <p>${restaurant.restaurant_description}</p>
                    <div class="button-container dining-and-lodging">
                        <a href="${restaurant.menu}" target="_blank" class="secondary-button">View Menu</a>
    
                        <form action="/dining/add" method="POST">
                            <input type="hidden" name="dining_id" value="${restaurant.id}">
                            <input type="hidden" name="park_id" value="${restaurant.park_id}">
                            <button type="submit" class=" secondary-button">Add to Itinerary</button>
                            <!-- Modal -->
                    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                   <h3>Restaurant Added</h3>
                                   <div class="button-container">
                                    <a href="/itinerary" class="primary-button">View Itinerary</a>
                                        <button type="button" class="close primary-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Add More</span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </form>
                    </div>
                </div> `
                
                ).join('')}
        </div>
        `
        :
        `<h3>Login to add restaurants to your Itinerary</h3>
        <a href="/users/login" class="primary-button">LOGIN</a>`
    
    }
    <p><a href='https://disneyworld.disney.go.com/dining/' target='_blank' class="learn-more">Click here</a> for a full list of dining options!</p>
</div>
<script></script>
    
