<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="/styles/styles.css" rel="stylesheet">

<div class="welcome">
    <video autoplay muted loop id="myVideo">
        <source src="/videos/walkdisney.mp4" type="video/mp4">
    </video>

    <div class="welcomeText">
        <h2>Welcome to WalkDisney!</h2>
        <p>Planning a trip to Disney World?</p>
        <p>Click below and begin creating an itinerary today!</p>

        ${!!is_logged_in ?
        `<a href="/park_selector"><button type="button" class="btn btn-outline-light" href="#">Plan your
                Trip!</button></a>`
        :
        `
        <a href="/users/register"><button type="button" class="btn btn-outline-light">Create an Account!</button></a>
        `
        }
    </div>
</div>

<!-- EXTRA TEXT BOXES -->
<div class="welcomeBoxes">
    <div>
        <img src="/images/disneymouse.jpeg">
        <h2>Parks</h2>
        <p>Choose from a selection of four parks to start your adventure! Get a glimpse of
            the various events, lodging and dining options to help with your selection!</p>
    </div>

    <div>
        <img src="/images/pops.jpeg">
        <h2>Dining + Lodging</h2>
        <p>Browse through dining options and schedule your stay at one of the many options based on the park of your
            choice!</p>
    </div>

    <div>
        <img src="/images/rides.jpeg">
        <h2>Events</h2>
        <p>Explore magical events, exciting attractions and plan ahead today!</p>
    </div>
</div>

<footer>© WalkDisney, All Rights Reserved.
    <br>Including the name.
</footer>