<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="/styles/styles.css" rel="stylesheet">

<div class="welcome">
    <video autoplay muted loop id="myVideo">
        <source src="/videos/walkdisney.mp4" type="video/mp4">
    </video>

    <div class="welcomeText">
        <h2>Welcome to WalkDisney!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, magnam.</p>

        ${!!is_logged_in ?
        `<a href="/park_selector"><button type="button" href="#">Plan your Trip!</button></a>`
        :
        `
        <a href="/users/register"><button>Create an Account!</button></a>
        `
        }
    </div>
</div>

<!-- EXTRA TEXT BOXES -->
<div class="welcomeBoxes">
    <div>
        <img src="/images/disneymouse.jpeg">
        <h2>Parks</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea delectus facilis voluptates placeat
            quisquam architecto.
        </p>
    </div>

    <div>
        <img src="/images/pops.jpeg">
        <h2>Dining</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veniam fugiat voluptas magni,
            qui
            beatae.</p>
    </div>

    <div>
        <img src="/images/lodge.jpeg">
        <h2>Lodging</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero corrupti voluptate, suscipit
            repellat
            sint aut.</p>
    </div>
</div>