<div class="container">

    ${!!is_logged_in ?
        `<h1 class="main-title">Choose Your Lodging</h1>
        <p>We've handpicked some of the top-rated lodging for this park. Visit the hotel's website to check availability and make your reservation!</p>
        <hr>
        <div class="button-container">
            <a href="/park_selector" class="primary-button">Add Another Park</a>
            <a href="/itinerary" class="primary-button">View Itinerary</a>
        </div>

        <div class="row align-items-start">
            ${lodgingData.map (hotel =>
                `
                <div class="col">
                    <h3>${hotel.lodging_name}</h3>
                    <img src="${hotel.lodging_image}" width="100%" height="250px" alt="image of ${hotel.lodging_name}" class="park-image">
                    <br>
                    <p>${hotel.lodging_description}</p>
                    <div class="button-container dining-and-lodging">
                        <a href="${hotel.lodging_url}" target="_blank" class="secondary-button">Visit Website</a>
                        <form action="/lodging/add" method="POST">
                            <input type="hidden" name="lodging_id" value="${hotel.id}">
                            <button type="submit" class="secondary-button">Add to Itinerary</button>
                        </form>
                    </div>
                </div>
                
                `   
                ).join('')}
                
            </div>`
    
    :
    `<h3>Login to add a hotel to your Itinerary</h3>
    <a href="/users/login" class="primary-button">LOGIN</a>`
}
   <p><a href='https://disneyworld.disney.go.com/resorts/' target='_blank' class="learn-more">Click here</a> for more lodging options!</p>
</div>