<div class="container">
    <h1 class="main-title">${title}</h1>
    <p>Choose a park to add it to your itinerary and to see all of their activities, food, and more.</p>

    <div class="row align-items-start">
        ${data.map(park => `
            <div class="col">
                <h2>${park.park_name}</h2>
                <img src='${park.park_image}' class="park-image">
                </a>
                <form action="park_selector/update" method="POST">
                    <input type="hidden" name="parks_id" value="${park.id}">
                    <input type="hidden" name="park_slug" value="${park.slug}">

                    ${!!is_logged_in ? 
                        `<a href="./park_selector/${park.slug}"><button type="submit" class="primary-button">SELECT PARK</button></a>`

                        :

                        ` <h3>Login to add a park to your Itinerary</h3>
                        <a href="/users/login" class="primary-button">LOGIN</a>`
                    
                    }
                    </form> 
            </div>
           
            `).join('')}
      </div>
   

</div>
