<h1>Choose Your Activities!</h1>
<ul>
    ${data.map(todo => `
    <li>
        <h3>${todo.activity_name}</h3>
        <p>${todo.activity_description}</p>
        <img src="${todo.activity_image}" alt="Image of ${todo.activity_name}" width=20%>
        <p>Time Slot: ${todo.activity_time}</p>
        <p>Kid Friendly: ${!!todo.kid_friendly ? `Yes` : `No` }
        </p>
        <p>Height Requirement: ${todo.height_requirement !== null ? `${todo.height_requirement}` : `None` }
        </p>
    </li>
    <form action="/park_activities/add_activity" method="POST">
        <input type="hidden" name="activity_id" value="${todo.id}">
        <input type="hidden" name="park_id" value="${todo.park_id}">
        <button type="submit" class="btn btn-primary">SELECT</button>


    </form>

    `).join('')}

</ul>