<div class="registerRow">

    <div class="registerColumn">Work In Progress</div>

    <div class="registerColumn">

        <form action="/users/register" method="POST">
            <h2>Register</h2>
            <label>First Name
                <input name="first_name" class="form-control" type="text">
            </label>
            <label>Last Name
                <input name="last_name" class="form-control" type="text">
            </label>
            <label>Email
                <input name="user_email" class="form-control" type="email">
            </label>
            <br>
            <label>Password
                <input name="user_password" class="form-control" type="password">
            </label>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>