<div class="container">
    ${!!is_logged_in ? 
        `<h1 class="main-title">${first_name}'s Itinerary</h1>
        ${itinerary_data.length > 0 ? 
            `<div class="row align-items-start">
                ${itinerary_data.map (park => 
                    `${park.park_id === 1 ?
                        `<div class="col">
                            <h2>Magic Kingdom</h2>
                            <img src="imgs/magic_kingdom.jpeg" class="park-image">
                        </div>
                        <div class="col">
                            <h3>Activities</h3>
                            <h4>${park.activity_name}</h4>
                            <p>Time: ${park.activity_time}</p>
                            <button>Remove Activity</button>
                        </div>
                        
                        `
                        :
                        ``
                    
                    }`
                    
                    ).join('')}
            </div>`
            
            :


            `<h2>Start Planning Your Trip by Going to the Park Selector Page!</h2>
            <a href="/park_selector" class="primary-button">SELECT A PARK</a>`
        
        }
        `
        :

        `<h2>Sign Up or Login to Create Your Itinerary</h2>
        <a href="users/register" class="primary-button">REGISTER</a>`
    }
</div>