/* Itinerary Page Styles */
.park-image {
    width: 300px;
}

.lodging-image {
    width: 400px;
}

.btn-primary {
    display: block;
    width: 150px;
    margin-top: 10px;
}

.itinerary-row {
    margin-top: 15px;
}

.delete-btn  {
    display: inline-block;
    margin: 10px 5px;
}

.button-container {
    display: flex;
}

.lodging-title {
    color: navy;
    margin-top: 30px;
}