/* Itinerary Page Styles */
.park-image {
    width: 300px;
}

.lodging-image {
    width: 500px;
}

.btn-primary {
    display: block;
    width: 150px;
    margin-top: 10px;
}

.itinerary-row {
    margin-top: 15px;
}