html {
    cursor: url('/images/glove3.png'), auto;
  }

body { 
    background-color: rgb(42, 42, 92); 
    height: 100%;
    position: relative;
}

/* ALL UN-CLASSED TAG EFFECTS  --> */

p { 
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: url('/images/glove3.png'), auto;
}

h1 {
   font-family: 'WaltographRegular';
   color: white;
}

h2,h3,h4 {
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 10px;
    padding-top: 8px;
    color: white;
}

hr {
    color:rgb(174, 224, 247);
}
  
/* Itinerary Page Styles */
.park-image {
    width: 300px;
    margin-top: 40px;
}

.lodging-image {
    width: 400px;
}

.img-fluid {
    margin-bottom: 15px;
    border-radius: 10px;
}

.btn-primary {
    display: block;
    width: 150px;
    margin-top: 10px;
}

.park-description {
    width: 500px;
    margin-top: 15px;
}

/* CAROUSEL ITEMS */

.carousel-item img {
    height: 500px;
}

.carousel {
    padding-left: 50px;
    width:70%;
  }

.carousel img {
    border-radius: 10px; 
}


.bodyAlignment {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

/* LOGIN ITEMS */

.login-box {
    background-color: white;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 50px 10px 10px 10px;
    position: relative;
}

.login-box p {
    font-size: 20px;
}
.login-text > *{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.login-text button {
    margin-top: 50px;
}

.login-box h2 {
    text-align: center;
    color: rgb(42, 42, 92);
}

.small-text {
    color: white;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

#registration, #loginNow {
    color: #7ed0ff;
}

#registration:hover, #loginNow:hover {
    color: #aae0ff;
}

/* NAVIGATION BAR ITEMS */

.customHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
    background-color: rgb(42, 42, 92);
}

.containerLeft {
    margin-left: 3em;
}

.nav {
    padding-top: 14px;
    padding-bottom: 14px;
}

.nav-item {
    margin-right: 2em;
}

#colors a {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    padding-top: 20px;
    margin-left: 50px;
}

#colors a:hover {
    color: rgb(174, 224, 247);
    font-size: 25px;
    transition: 0.5s;
    padding-top: 13px;
}

.headertext {
    padding-top: 20px;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    color: white;
}

/* Hamburger Menu */

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-links li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

/* BIKINI BOTTOM ITEMS */

.bottomBoxes {
    padding: 50px;
    display: flex;
    flex-direction: row;
    color: white;
}

.bottomBoxes div {
    padding: 70px;
}


/* Itinerary Styles */

.itinerary-row {
    margin-top: 15px;
}

.delete-btn  {
    display: inline-block;
    margin: 10px 5px;
}

.button-container {
    display: flex;
    padding-top: 10px;
    margin-bottom: 5px;
}

.modal-body .button-container {
    justify-content: center;
}

.lodging-title {
    margin-top: 30px;
}

.login-prompt {
    margin-top: 80px;
}

/* REGISTER ITEMS */

.registerRow {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 80px;
    border-radius: 10px;
    overflow: hidden;
}
  
.registerColumn {
    background-color: rgba(0, 0, 0, 0.425);
    height: 500px;
    flex: 50%;
    padding: 70px;
}


.registerRow form {
    color: white;
}

#firstRegisterColumn {
    background-image: url(/imgs/cinderella.jpeg);
    background-position: center;
}


.primary-button {
    color:  white;
    background: rgb(67,214,245);
    background: linear-gradient(121deg, rgba(67,214,245,1) 26%, rgba(45,84,253,1) 100%);
    margin-top: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 0px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    
}

a.primary-button:hover {
    font-weight: bold;
    color:white;
}

button.primary-button:hover {
    font-weight: bold;
    color:white;
    border: 0px;
}

.button-container .primary-button {
    margin-right: 20px;
}

.secondary-button {
    color:  white;
    background: #4e6eff;
    margin: 3px 0px 10px 0px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 0px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

.secondary-button:hover {
    font-weight: bold;
    color:white;
    border: 0px;
}

.dining-and-lodging .secondary-button {
    margin-right: 20px;
}


.park-image {
    width: 500px;
    display:block;
    border-radius: 10px;
}

@media screen and (max-width: 840px) {
    .carousel {
         display: none;
     }
     .login-box {
        margin-left: auto;
        margin-right: auto;
    }
}
.hotel-image {
    display: block;
    width: 500px;
}


.activity-image {
    width: 400px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.main-title {
    color: white;
    padding-bottom:10px;
    
}

.row {
    padding-top: 20px;
    padding-bottom: 10px;
}

.col {
    padding-bottom: 40px;
}

.col-6 {
    padding-bottom: 40px;
}

.learn-more a, .learn-more:visited, .learn-more:link {
    color: #7ed0ff;
}

.learn-more:hover {
    color: #aae0ff;
}


/* Modal Styles */
.modal-content {
    background-color: rgb(42, 42, 92);
    border: none;
}

.modal-body h3 {
    color: white;
    text-align: center;
    padding-top: 70px;
}

.modal-body {
    height: 300px;
    background-color: rgb(42, 42, 92);
    border-radius: 10px;
    background-image: url(/imgs/castle_overlay.png);
    background-position: center;
}

/* It's a secret. */

.hideThings {
    display: none;
}

@media screen and (max-width: 840px) {
    .carousel {
         display: none;
     }
     .login-box {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }
 }

/* WELCOME ITEMS */
.welcome {
    height: 450px;
    display: flex;
}

.welcomeText {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    align-self: flex-end;
    font-size: 20px;
}

.welcomeText button {
    padding-left: 40px;
    padding-right: 40px;
}

.welcomeBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.welcomeBoxes div {
    margin: 20px;
    width: 400px;
    height: 450px;
}

.welcomeBoxes img {
    /* height: auto; */
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#myVideo {
object-fit: cover;
width: 100vw;
height: 56.2vh;
top: 0;
left: 0;
z-index: -100;
}

.modal-content {
    background-color: rgb(42, 42, 92);
    border: none;
}
#mapcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent!important;
    border-color: transparent!important;
    height:60vh;
}
.modalmap {
    border-radius: 4px;
    max-width: 1300px;
    max-height: 100%;
    height: auto;
    width: auto;
}

/* Footer Stuff */
.wrapper {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: white;
    text-align: center;
    background-color: rgb(34, 34, 75);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Hamburger Mobile Responsiveness */
@media screen and (max-width: 960px) {
    .toggle-button {
        margin-top: 25px;
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
        padding: .1rem;
    }
    .navbar-links.active {
        display: flex;
    }

    .containerLeft {
        margin-left: 10px;
    }

    .row {
        flex-direction: row;
    }

    .col {
        flex: auto;
    }

    .col-6 {
        flex:auto;
        width: 100%;
    }

    .park-image, .error-image, .activity-image {
        width: 300px;
        height: auto;
    }

    .park-description {
        width: 300px;
    }
    

    .container {
        width: 90%;
    }

    .primary-button, .secondary-button {
        padding: 8px 5px;
        font-size: 12px;
    }

    .login-prompt {
        margin-top: 10px;
    }
    
}